body{
    background: #062124;
    color: #fff;
    font-family: 'Arboria-Medium', sans-serif;
    text-align: justify;
    padding: 20%;
    font-size: 10px;
    font-weight: bold;
    width: 400px;
    height: 250px;
    margin: 80px auto;
}

.buttonback {
    background-color: #C19652; /* Gold */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}